body{
    margin: 0;
    padding: 0;
    background-color: #2F3437;
    font-family: "Roboto";
    color: white;
}
p{
    margin: 0;
}
.index{
    /* padding: 0 150px; */
}
.nav__div{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    display: flex;
    background-color: #212529;
    padding: 0 150px;
    align-items: center;
}

nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    font-size: 16px;
}
.logo, .logo__ghost{
    display: flex;
    font-weight: 600;
    height: 30px;
    letter-spacing: 2px;
    line-height: 30px;
    white-space: nowrap;

    font-style: normal;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.logo__ghost{
    visibility: hidden;
}
ul{
    display:flex;
    list-style: none;
    padding: 0px;
}
.nav__item{
    font-style: normal;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    text-decoration: none;
}
section{
    height: 100vh;
    /* padding-top: 80px; */
    /* padding-left: 150px;
    padding-right: 150px; */
}

/* HOME */
.hero{
    height: 100%;
    align-items: center;
}
.home__header{
    font-size: 3em;
    font-weight: 800;
}
.home__presentation{
    font-size: 2em;
    font-weight: 300;
    line-height: 50px;
}
.hero, .block{
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    align-content: center;
}
.block{
    padding-top: 3.5em;
}
.title__block{
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 3em;
}
.home__text{
    width: 50%;
}
.focus__name{
    color: #E35D6A;
}
.hero__img{
    width: 50%;
}
/* EDUCATION */

/* EXPERIENCE */

/* PROJECTS */

/* ABOUT ME */

/* CONTACT ME */