body{
    margin: 0;
    padding: 0;
    background-color: #2F3437;
    font-family: "Roboto";
    color: white;
}
.index{
    padding: 0 150px;
}
.nav__div{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    display: flex;
    background-color: #212529;
    padding: 0 150px;
    align-items: center;
}

nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    font-size: 16px;
}
.logo{
    display: flex;
    font-weight: 600;
    height: 30px;
    letter-spacing: 2px;
    line-height: 30px;
    white-space: nowrap;

    font-style: normal;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
ul{
    display:flex;
    list-style: none;
    padding: 0px;
}
.nav__item{
    font-style: normal;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    text-decoration: none;
}
section{
    height: 100vh;
    padding-top: 80px;
}

/* HOME */
.home__header{
    font-size: 3em;
    font-weight: 800;
}
.hero{
    display: flex;
}
.home__presentation{
    font-size: 2em;
    width: 50%;
}
.focus__name{
    color: #E35D6A;
}
/* EDUCATION */

/* EXPERIENCE */

/* PROJECTS */

/* ABOUT ME */

/* CONTACT ME */