html{
    scroll-behavior:smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #2F3437;
    font-family: "Roboto";
    color: white;
    font-size: 16px;
}
p{
    margin: 0;
}
.nav__div{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    display: flex;
    background-color: #212529;
    padding: 0 9em;
    align-items: center;
    z-index: 100;
}

nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    font-size: 16px;
}
.logo, .logo__ghost{
    display: flex;
    font-weight: 600;
    height: 30px;
    letter-spacing: 2px;
    line-height: 30px;
    white-space: nowrap;
    font-style: normal;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.logo__ghost{
    visibility: hidden;
}
ul{
    display:flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav__item{
    font-weight: 300;
    color: white;
    padding: 1em 1.5em;
    cursor: pointer;
    text-decoration: none;
}

/* HOME */
.hero, .block{
    height: 100%;
    align-items: center;
    align-content: center;
}
.home__header{
    font-size: 3em;
    font-weight: 800;
}
.block__text{
    font-size: var(--primary-size-text);
    font-weight: 300;
    line-height: 1.5em;
}
.home__cvtxt{
    font-size: var(--primary-size-text);
    font-weight: 300;
    padding: 1em 0;
}
.btn__cv{
    border-radius: 5px;
    padding: 1em 2em;
    background-color: #E35D6A;
    border: none;
    font-family: "Roboto";
    font-size: medium;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: white;
}
.btn__cv:hover{
    transform: scale(1.1);
    background-color: #D43D4C;
}
.btn__cv:active{
    transform: scale(0.9);
}
#hero, .block__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.block{
    padding: var(--margin-web-large);
    height: 100vh;
}
.block{
    display:block;
    padding-top: 2.5em;
}
.block__content{
    height: 100%;
    align-items: center;
    gap: 40px;
}
.block__carucel{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    align-items: center;
    /* overflow-x: scroll; */
}
.title__block{
    position: absolute;
    left: 0; right: 0;
    margin-left: auto; margin-right: auto;
    font-weight: 300;
    font-size: 3em;
    width: 100%;
    text-align: center;
}
.focus__name{
    color: var(--focus-color);
}
.block__img{
    max-height: 60vh;
    width: 100%;
}
/* EDUCATION */

/* EXPERIENCE */

.grid-container{
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1em 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    margin-bottom: 1em;
}
.grid-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.skill-icon{
    padding: 0.5em 30%;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

/* PROJECTS */

.proj__conteiner{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    overflow: auto;
    height: auto;
    padding: 2.5em 0;
    gap: 20px;
}
.proj__card{
    /* 
    padding
    bg
    border
    */
    width: 220px;
    height: auto;
    overflow: auto;
    border: 1px solid rgba(255, 255, 255, 0.5) ;
    border-radius: var(--border-radius);
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
}

.proj__card:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.proj__img{
    /* 
    size
    hover
    */
    display: block;
    max-width: 100%;
    margin-left: auto; margin-right: auto;
    right: 0; left: 0;
    border-radius: var(--border-radius);
}
.proj__name{
    /* 
    style
    size
    */
    font-weight: 700;
    font-size: var(--primary-size-text);
    line-height: 1.5em;
    text-align: center;
}
.proj__desc{
    /* 
    size
    */
    font-size: .8em;
    width: 100%;
    height: 90px;
    padding-right: 5px;
    text-align: center;
    overflow-y: scroll;
    padding-bottom: 1em;
}
.proj__desc__l{
    box-shadow: 0px -20px 25px -25px black inset;
}
.proj__footer{
    /* 
    inline to rigth
    */
    display: flex;
    padding-top: 1.5em;
    left: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 2em;
}
.proj__btn__demo{
    border-radius: 5px;
    padding: .5em 1em;
    height: 40px;
    background-color: #E35D6A;
    border: none;
    font-family: "Roboto";
    font-size: medium;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: white;
}
.proj__btn__git{
    height: 40px;
}
.proj__btn__demo:hover{
    transform: scale(1.1);
    background-color: #D43D4C;
}
.proj__btn__git:hover{
    transform: scale(1.1);
}
.proj__btn__demo:active{
    transform: scale(0.9);
}
.proj__btn__git:active{
    transform: scale(0.9);
    filter: brightness(120%);
}

/* ABOUT ME */

/* CONTACT ME */

body::-webkit-scrollbar{
    display: none;
}

/* CARD SCROLL */
.proj__desc::-webkit-scrollbar{
    display: none;
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width:5px;
}
.proj__desc__l::-webkit-scrollbar,  .proj__conteiner::-webkit-scrollbar{
    display: block;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-button:increment,::-webkit-scrollbar-button {
    display: none;
} 

::-webkit-scrollbar:horizontal {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
}
/* RESPONSIVE DESING */


:root{
    /* Body */
    --margin-web-large:0 9em 0 9em;
    /* Blocks */
    --primary-size-text:1.5em;

    --focus-color:#E35D6A;
    --border-radius:10px;
}